
<div class="circles" id="circles" onclick="runner(this)">
        <svg width="1000" id="svgs">
            <circle cx="500" cy="90" r="20" stroke="black" stroke-width="3" fill="green" id="start"/>
            <!--<circle cx="300" cy="90" r="40" stroke="black" stroke-width="3" fill="blue" id="circle"/>-->
        </svg>
    </div>




<div class="results">
    <table style="width:100%" id="results">
        <tr>
            <th>Amplitude</th>
            <th>Width</th>
            <th>Time</th>
            <th>In the cercle</th>
        </tr>
        
    </table>
</div>

